* {
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

/* User Sign Up */
#sign-up-name {
  width: 100%;
}

.form-control {
  border-radius: 0;
}

.form-container {
  width: 40.5em;
}

.errors-list {
  color: red;
}

/* Performer Events Page */
.event-list {
  list-style-type: none;
}
